<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TinyApp</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body style="font-size:20px; padding:50px;">
  <%- include ./partials/_header %>
  <h2> List of the stored URLs </h2>
  <ul>
    <% for(let url in  urls ){%>
      <li>

        <%= url %> ->
        <a href="<%=urls[url].longURL%>" > <%= urls[url].longURL %> </a>
        <a href= "/urls/<%=url%>" class="btn btn-primary" name="shortURL" >Edit</a>
        <form style="display: inline;" action="/urls/<%=url%>/?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
        <br/>
        <b>created</b> <%=urls[url].created%>
        <br/>
        <b>visited</b> <%= urls[url].visited %> times by <%= urls[url].visitors.length %> different visitors
        <br/>
      </li>
    <% } %>
  </ul>
  <br/>

  <a href="/urls/new"> Create a New Short Link </a>

</body>
</html>
