<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TinyApp</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body style="font-size:20px; padding:50px;">
  <%- include ./partials/_header %>
  <!-- simple example, trying out ejs
    <%= templateVars.urls.b2xVn2 %>
    <% for(let i = 0; i  < 10; i++){%>
    <br/> <%= i %>
    <% } %> -->

  A list of the URLs and their shortened forms
  <ul>
    <% for(let url in  templateVars.urls ){%>
      <li>
        <div class="row row-container">
        <div class="col-3">
        <%= url %> ->
        <a href= <%= templateVars.urls[url] %> >
          <%= templateVars.urls[url] %>
        </a>
      </div>
      <div class="col-1">
        <a href=<%= "/urls/" + url %> class="btn btn-primary" name="shortURL" >Edit</a>
      </div>
      <div class="col-1">
        <form method="POST" action=<%="/urls/"+ url +"/delete"%>>
          <button class="btn btn-primary" name="shortURL" >Delete</button>
        </form>
        </div>
        <div class="row row-container">

      </li>
    <% } %>
  </ul>
  <br/>

  <a href="#"> shorten your URL here </a>

</body>
</html>
